<a href="https://colab.research.google.com/github/NotHumans211/latihan/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Latihan ini bertujuan untuk melatih fundamental python saya**


Python memiliki beberapa jenis data utama yang dapat digunakan untuk menyimpan data, yaitu:


Number (angka)

Integer (angka bulat)
Float (angka real)
String (teks)

Boolean (boolean)

List (array)

Tuple (array tidak dapat diubah)

Dictionary (hash table)

Set (kumpulan elemen unik)

#Number

In [ ]:
#Integer
x = 10
y = -5

#Float
pi = 3.14159
temperature = 25.5

result = x + y
print(result)

5

#String

In [ ]:
nama = "Yahya"
kalimat = "Ini adalah sebuah kalimat."

#Menggabungkan string
sapaan = "Halo, " + nama + "!"
print(sapaan)

#Mengakses karakter individual
huruf_pertama = nama[1]
print(huruf_pertama)

#Mengiris string
substring = kalimat[0:10]
print(substring)

Halo, Yahya!
a
Ini adalah

#Boolean

In [ ]:
x = True
y = False

print(x)  # Output: True
print(y)  # Output: False

# Contoh penggunaan dalam ekspresi kondisional
if x:
    print("x adalah True")
else:
    print("x adalah False")

True
False
x adalah True

In [ ]:
#Boolean perbandingan
a = 5
b = 10

print(a > b)  # Output: False
print(a < b)  # Output: True
print(a == b)  # Output: False
print(a != b)  # Output: True

False
True
False
True

#Dictionary

In [ ]:
orang = {
    "nama": "Yahya",
    "umur": 20,
    "kota": "Surabaya"
}

print(orang["nama"])
print(orang["umur"])

Yahya
20

In [ ]:
# Menambahkan pasangan kunci-nilai baru
orang["pekerjaan"] = "Programmer"

# Mengubah nilai yang ada
orang["umur"] = 20

# Menghapus pasangan kunci-nilai jika ada
if "kota" in orang:
    del orang["kota"]

# Mengakses semua pasangan kunci-nilai
for key, value in orang.items():
    print(key, value)

nama Yahya
umur 20
pekerjaan Programmer

#Set

In [ ]:
orang_keys = {"nama", "umur", "kota"}

# To remove a key:
if "kota" in orang_keys:
    orang_keys.remove("kota")
    # Only try to delete from 'orang' if it's still present
    if "kota" in orang:
        del orang["kota"]
    print(orang_keys)

{'umur', 'nama'}

#Variables and Data Types:

In [ ]:
# Declaring a Variable
x = 10
y = "Hello"

# Printing a Variable
print(x)  # Output: 10
print(y)  # Output: Hello

# Data Types
print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'str'>

10
Hello
<class 'int'>
<class 'str'>

#Arithmetic Operations

In [ ]:
# Addition
a = 5 + 3
print(a)  # Output: 8

# Subtraction
b = 10 - 5
print(b)  # Output: 5

# Multiplication
c = 2 * 3
print(c)  # Output: 6

# Division
d = 10 / 2
print(d)  # Output: 5.0 (since 10 is divided by 2)

# Modulus (remainder)
e = 7 % 3
print(e)  # Output: 1 (since 7 is divided by 3 with remainder 1)

# Exponentiation
f = 2 ** 3
print(f)  # Output: 8 (since 2 raised to the power of 3)

8
5
6
5.0
1
8

#Comparison Operators

In [ ]:
# Equal to
x = 5
y = 5
print(x == y)  # Output: True

# Not Equal to
x = 5
y = 6
print(x != y)  # Output: True

# Greater than
x = 5
y = 6
print(x > y)  # Output: False

# Less than
x = 5
y = 6
print(x < y)  # Output: True

# Greater than or equal to
x = 5
y = 5
print(x >= y)  # Output: True

# Less than or equal to
x = 5
y = 5
print(x <= y)  # Output: True

True
True
False
True
True
True

#Logical Operators:

In [ ]:
# Logical AND (and)
x = True
y = False
z = x and y
print(z)  # Output: False

# Logical OR (or)
x = True
y = False
z = x or y
print(z)  # Output: True

# Logical NOT (not)
x = True
z = not x
print(z)  # Output: False

False
True
False

#Conditional Statements

In [ ]:
# If-Else Statement
x = 5
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

# If-Elif-Else Statement
x = -10
if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

# If-Elif-Else Ladder
for i in range(-5, 6):
    if i > 0:
        if i < 10:
            print(i)
    elif i == 0:
        print("0")

x is positive
x is negative
0
1
2
3
4
5

#Loops

In [ ]:
# For Loop
for i in range(1, 6):
    print(i)

# While Loop
i = 1
while i <= 5:
    print(i)
    i += 1

# Using Break in For Loop
for i in range(1, 6):
    if i == 3:
        break
    print(i)

# Using Continue in For Loop
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
3
4
5
1
2
3
4
5
1
2
1
2
4
5

#Functions

In [ ]:
# Simple Function
def my_function():
    print("Hello from my_function!")

my_function()

# Function with arguments
def greet(name):
    print(f"Hello, {name}!")

greet("Yahya")

# Function with multiple arguments
def add_numbers(num1, num2):
    return num1 + num2

result = add_numbers(5, 3)
print(result)

Hello from my_function!
Hello, Yahya!
8

#Lists
List adalah sebuah tipe data yang dapat menyimpan beberapa elemen dengan indeks numerik. List dapat berisi elemen dari berbagai jenis data, seperti angka, string, boolean, ataupun objek lain. List dapat diubah selama proses penggunaannya, dan elemen list dapat diubah ataupun dihapus dengan mudah.

In [ ]:
# Creating a List
my_list = [1, 2, 3, 4, 5]
print(my_list)  # Output: [1, 2, 3, 4, 5]

# Accessing an Element in a List
print(my_list[0])  # Prints the first element of the list

# Adding a Value to a List
my_list.append(6)
print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

# Removing a Value from a List
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5, 6]

[1, 2, 3, 4, 5]
1
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

#Tuple
Dalam Python, tuples agak sama dengan lists, tuples dapat menyimpan beberapa elemen yang berupa dari berbagai jenis data, seperti angka, string, boolean, ataupun objek lain. Tuple dapat dicria dengan tanda koma (
,
) dengan tidak ada spasi yang ada di belakang koma.

In [ ]:
my_tuple = (1, 2, 3, "Hello", True)

In [ ]:
my_tuple = (1, 2, 3, "Hello", True)
print(my_tuple[0])  # Output: 1
print(my_tuple[2])  # Output: 3

1
3

In [ ]:
my_tuple = (1, 2, 3, "Hello", True)
for elemen in my_tuple:
    print(elemen)

1
2
3
Hello
True

#Probabilitas & Statistika

In [1]:
import statistics
data = [1, 2, 3, 4, 5]
mean = statistics.mean(data)
median = statistics.median(data)
mode = statistics.mode(data)
print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 3
Median: 3
Mode: 1

In [2]:
import numpy as np
data = np.array([1, 2, 3, 4, 5])
percentile_25 = np.percentile(data, 25)
percentile_75 = np.percentile(data, 75)
print("25th Percentile:", percentile_25)
print("75th Percentile:", percentile_75)
iqr = percentile_75 - percentile_25
print(iqr)

25th Percentile: 2.0
75th Percentile: 4.0
2.0

**Simulasi prob**

In [6]:
import random

#pelemparan koin 10 kali
hasil_lemparan = []
for i in range(10):
  lemparan = random.choice(["kepala", "angka"])
  hasil_lemparan.append(lemparan)

print(hasil_lemparan)

#hitung jumlang kemunculan "kepala"
jumlah_kepala = hasil_lemparan.count("kepala")
print(f"jumlah_kepala: {jumlah_kepala}")

['kepala', 'angka', 'angka', 'angka', 'kepala', 'kepala', 'kepala', 'kepala', 'kepala', 'kepala']
jumlah_kepala: 7

In [7]:
#probabilitas kemunculan "angka"
probabilitas_kepala = jumlah_kepala / len(hasil_lemparan)
print(f"probabilitas_kepala: {probabilitas_kepala}")

probabilitas_kepala: 0.7

#Algoritma
**Algoritma adalah serangkaian langkah-langkah terstruktur untuk menyelesaikan suatu masalah**

In [8]:
#Algoritma Pengurutan (Sorting)

#Bubble Sort
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = bubble_sort(data)
print(sorted_data)

[11, 12, 22, 25, 34, 64, 90]

In [9]:
#Insertion Sort
def insertion_sort(arr):
    for i in range(1, len(arr)):
        key = arr[i]
        j = i-1
        while j >= 0 and key < arr[j]:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key
        return arr
data = [64, 34, 25, 12, 22, 11, 90]
sorted_data = insertion_sort(data)
print("Data terurut",sorted_data)

Data terurut [34, 64, 25, 12, 22, 11, 90]

#Algoritma Graph

**Breadth First Search (BFS):**

In [13]:
from collections import deque
def bfs(graph, start):
    visited = set()
    queue = deque([start])
    while queue:
        vertex = queue.popleft()
        print(vertex, end=" ")
        for neighbor in graph[vertex]:
            if neighbor not in visited:
                visited.add(neighbor)
                queue.append(neighbor)
 graph = {
     'A': ['B', 'C'],
     'B': ['D', 'E'],
     'C': ['F'],
     'D': [],
     'E': ['F'],
     'F': []
}

bfs(graph, 'A')

A B C D E F

**Algoritma Rekursi**

Menghitung Faktorial

In [16]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = 5
print("Faktorial dari", num, "adalah", factorial(num))

Faktorial dari 5 adalah 120

In [ ]:
# Arithmetic Operations
a = 10
b = 3

addition = a + b       # Addition
subtraction = a - b    # Subtraction
multiplication = a * b # Multiplication
division = a / b       # Division (float)
modulus = a % b        # Remainder

# String Manipulation
greeting = "Hello"
name = "World"
message = greeting + ", " + name + "!"  # String concatenation

# Basic Conditional
if a > b:
    comparison = f"{a} is greater than {b}"
else:
    comparison = f"{a} is not greater than {b}"

# Print Results
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")
print(f"Modulus: {modulus}")
print(f"Message: {message}")
print(comparison)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Message: Hello, World!
10 is greater than 3

In [ ]:
# Variable Declaration
name = "Yahya"
age = 25

# Function Definition
def greet_user(username, user_age):
    if user_age < 18:
        print(f"Hello {username}, you are a minor.")
    else:
        print(f"Hello {username}, you are an adult.")

# Looping through a range
for i in range(1, 4):
    print(f"Iteration {i}")

# Function Call
greet_user(name, age)

Iteration 1
Iteration 2
Iteration 3
Hello Yahya, you are an adult.

In [ ]:
# List of numbers
numbers = [1, 2, 3, 4, 5]

# Dictionary of a person
person = {
    "nama": "Yahya",
    "umur": 20,
    "kota": "Pasuruan"
}

# Function to calculate square of a number
def square(x):
    return x * x

# Using list comprehension to get squares of numbers
squares = [square(num) for num in numbers]

# Accessing dictionary values
person_info = f"{person['nama']} is {person['umur']} years old and lives in {person['kota']}."

# Printing results
print(f"Squares: {squares}")
print(person_info)

Squares: [1, 4, 9, 16, 25]
Yahya is 20 years old and lives in Pasuruan.

In [ ]:
# Comparison Operators
x = 15
y = 10

is_equal = (x == y)      # Checks if x is equal to y
is_not_equal = (x != y)  # Checks if x is not equal to y
is_greater = (x > y)     # Checks if x is greater than y
is_lesser = (x < y)      # Checks if x is less than y

# Logical Operators
and_operation = (x > 10 and y < 20)  # Both conditions must be true
or_operation = (x > 10 or y > 20)    # One of the conditions must be true
not_operation = not (x == y)         # Reverses the condition

# List Operations
numbers = [1, 2, 3, 4, 5]

sum_of_numbers = sum(numbers)         # Sums all elements in the list
length_of_list = len(numbers)         # Returns the number of elements in the list
first_element = numbers[0]            # Accesses the first element in the list
last_element = numbers[-1]            # Accesses the last element in the list

# Print Results
print(f"Is Equal: {is_equal}")
print(f"Is Not Equal: {is_not_equal}")
print(f"Is Greater: {is_greater}")
print(f"Is Lesser: {is_lesser}")

print(f"AND Operation: {and_operation}")
print(f"OR Operation: {or_operation}")
print(f"NOT Operation: {not_operation}")

print(f"Sum of Numbers: {sum_of_numbers}")
print(f"Length of List: {length_of_list}")
print(f"First Element: {first_element}")
print(f"Last Element: {last_element}")

Is Equal: False
Is Not Equal: True
Is Greater: True
Is Lesser: False
AND Operation: True
OR Operation: True
NOT Operation: True
Sum of Numbers: 15
Length of List: 5
First Element: 1
Last Element: 5

In [ ]:
# Type Conversion
num_str = "100"           # String type
num_int = int(num_str)    # Convert string to integer
num_float = float(num_int) # Convert integer to float

# User Input
user_input = input("Enter your name: ")  # Takes user input (string)

# Loop - For loop
for i in range(1, 6):   # Loop from 1 to 5
    print(f"Iteration {i}")

# Loop - While loop
counter = 0
while counter < 3:      # Loops until the condition is false
    print(f"While Loop Counter: {counter}")
    counter += 1        # Increment the counter

# Print the results
print(f"Integer: {num_int}, Float: {num_float}")
print(f"Hello, {user_input}!")

Enter your name: Yahya
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
While Loop Counter: 0
While Loop Counter: 1
While Loop Counter: 2
Integer: 100, Float: 100.0
Hello, Yahya!

In [ ]:
# Define a Function
def divide(a, b):
    try:
        result = a / b   # Division operation
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed!"
    return result

# List Operations
fruits = ["apple", "banana", "cherry"]

# Add an item to the list
fruits.append("orange")

# Remove an item from the list
fruits.remove("banana")

# Accessing items from the list
first_fruit = fruits[0]  # First item
last_fruit = fruits[-1]  # Last item

# Function Call
division_result = divide(10, 2)  # Valid division
division_by_zero = divide(10, 0)  # Invalid division

# Print Results
print(f"Fruits List: {fruits}")
print(f"First Fruit: {first_fruit}, Last Fruit: {last_fruit}")
print(f"Division Result: {division_result}")
print(f"Division by Zero: {division_by_zero}")

Fruits List: ['apple', 'cherry', 'orange']
First Fruit: apple, Last Fruit: orange
Division Result: 5.0
Division by Zero: Error: Division by zero is not allowed!